<!--The content below is only a placeholder and can be replaced.-->
<div style="position: relative; height: 100px;">
  <div class="slds-builder-header_container">
    <header class="slds-builder-header">
      <div class="slds-builder-header__item">
        <div class="slds-builder-header__item-label slds-media slds-media_center">
          <div class="slds-media__body">Forex Currency Converter</div>
          </div>
      </div>
    </header>
  </div>
</div>
<div class="converter-wrapper slds-container_x-large">
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
        <app-converter></app-converter>
      </div>
      <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
        <app-converter></app-converter>
      </div>
      <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
        <app-converter></app-converter>
      </div>
    </div>  
</div>

